{% extends "base.html" %}

{% block title %}Work_Scrap{% endblock %}

{% block content %}
<div class="row">
    <div class="col"><h2 class="text-center my-4">Сервис по збору и рассылке вакансий</h2></div>
</div>
    <div class="col-md-8 mx-auto">
        <h4 class="my-3">Для просмотра доступных вакансий, заполните форму, одну из полей!!!</h4>
        <p></p>
        <form method="GET" action="{% url 'list' %}">
            <div class="form-group">
                  {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Применить поиск</button>
        </form>
    </div>
</div>
{% endblock %}
